<?xml version="1.0" encoding="UTF-8" ?>
<service id="gmail">
  <type>e-mail</type>
  <provider>google</provider>
  <name>GMail</name>
  <icon>icon_gmail</icon>

  <!-- default settings (account settings have precedence over these) -->
  <template>
    <parameters>
      <setting name="server">imap.google.com</setting>
      <setting name="port" type="i">5223</setting>
      <setting name="old-ssl" type="b">1</setting>
      <setting name="fallback-conference-server">conference.jabber.org</setting>
    </parameters>
    <setting name="enabled" type="b">true</setting>
  </template>

</service>

